body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Negrito para cabeçalhos, por exemplo */
    color: rgb(16, 15, 15);
    font-size: 250%;
    text-align: center;
}

/* Estilizando o formulário */
#userForm {
    display: none; /* Inicialmente oculto */
    border: 1px solid #ccc; /* Borda ao redor do formulário */
    padding: 20px; /* Espaçamento interno */
}

/* Estilos para campos de entrada */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* Estilos para o botão de envio do formulário */
#submitButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #0056b3;
}

p {
    color: black;
    text-align: center;
}


#password-container {
    text-align: center;
}

#username-container {
    text-align: center;
}

input {
    width: 70%;
    margin-bottom: 10px;
}

#button-container {
    text-align: center;
}

button {
    background-color: #848485;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Adicione uma transição suave na mudança de cor de fundo */
    align-content: center;
}

button:hover {
    background-color: #666767; /* Altere a cor de fundo quando o mouse passar por cima */
}
